[project]
	description = testing repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kajalpani
[access "refs/for/refs/*"]
	read = group user/kajalpani
	push = group user/kajalpani
	label-Code-Review = -2..+2 group user/kajalpani
	label-Verified = -1..+1 group user/kajalpani
	rebase = group user/kajalpani
	removeReviewer = group user/kajalpani
	submit = group user/kajalpani
[access "refs/heads/*"]
	read = group user/kajalpani
	create = group user/kajalpani
	push = +force group user/kajalpani
	pushMerge = group user/kajalpani
[access "refs/tags/*"]
	push = group user/kajalpani
	push = +force group user/kajalpani
